.bar rect {
    fill: #384d55;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.tick text {
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.bar:hover rect {
    fill: #fff;
}

.line path {
    stroke-width: 2;
    fill: none;
}

.form-horizontal .text-center {
    text-align: center;
}

.form-inline button {
    float: right;
}

.form-inline label {
    margin-left: 10px;
    margin-right: 10px;
}

path.link {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
}

circle {
    fill: #ccc;
    stroke: #000;
    stroke-width: 2px;
}

text {
    fill: #fff;
    font: 14px sans-serif;
    pointer-events: none;
}

marker {
    fill: #fff;
}

#buffer_wrapper {
    overflow: hidden;
}

#buffers {
    position: relative;
}

.n-gram-info .pager {
    opacity: 0;
}

.overlay {
    fill: none;
/*    pointer-events: all; */
}

#legends {
    text-align: center;
    margin-bottom: 30px;
}

path.selected {
    stroke: white;
    stroke-width: 3px;
}
