{% extends "layout.html" %}
{% block body %}
<div class="row">
<div class="col-sm-10">
<h1>Authorship</h1>
</div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <form class="form-inline">
        <div class="form-group">
            <label for="keywords">Find authors between</label>
            <input id="author_from" class="form-control" placeholder="Source Author" type="text" value="P. Erdős">
            <label for="author_to" class="text-center">and</label>
            <input id="author_to" class="form-control" placeholder="Dest. Author" type="text" value="M. Molloy">
        </div>
        <button id="submit" class="btn btn-success" onclick="author_search($('#author_from').val(), $('#author_to').val()); return false;">Search</button>
    </form>
    </div>
</div>
<div class="row">
    <div id="canvas" class="col-md-10 col-md-offset-1">
    </div>
</div>
<script>
author_setup();
author_search('P. Erdős', 'M. Molloy');
</script>
{% endblock %}
