{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-sm-10">
        <h1>N-gram Graph</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-inline">
            <div class="form-group">
                <label for="keywords">Find papers containing</label>
                <input id="keywords" class="form-control" placeholder="phrase1, phrase2" type="text" value="distributed system, operating system">
            </div>
            <button id="submit" class="btn btn-success" onclick="n_gram_search($('#keywords').val()); return false;">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="canvas">
        </div>
        <div id="legends">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10 n-gram-info">
        <div id="buffer_wrapper">
            <div id="buffers">
                <div id="buffer0"></div>
                <div id="buffer1"></div>
            </div>
        </div>
        <ul class='pager'>
        <li class='previous'><a href='#'>Previous</a></li>
        <li class='next'><a href='#'>Next</a></li>
        </ul>
    </div>
</div>
<script>
n_gram_setup();
n_gram_search("distributed system, operating system");
</script>
{% endblock %}
